<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  @author xpoll
  @mail blmdz521@126.com
  @address www.blmdz.cn
 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blmdz.dubbo.dao.StudentDao">
	<resultMap id="BaseResultMap" type="cn.blmdz.dubbo.entity.Student">
		<id column="id" property="id" />
	    <result column="name" property="name" />
	    <result column="age" property="age" />
	    <result column="time" property="time" />
	</resultMap>

	<sql id="cloums_all">
		id, <include refid="cloums" />
	</sql>

	<sql id="cloums">
		name, age, time
	</sql>

	<sql id="vals_all">
		#{id}, <include refid="vals" />
	</sql>

	<sql id="vals">
		#{name}, #{age} now()
	</sql>

	<sql id="tb">
		t_student
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="Student">
		insert into
		<include refid="tb" />
		(<include refid="cloums" />)
		values
		(<include refid="vals" />)
	</insert>

	<delete id="delete" parameterType="long">
		delete from
		<include refid="tb" />
		where id = #{id}
	</delete>

	<update id="update" parameterType="Student">
		update
	    <include refid="tb"/>
		<set>
		  <if test="name != null">name = #{name},</if>
		  <if test="age != null">age = #{age},</if>
		  time = now()
		</set>
		where id = #{id}
	</update>

	<select id="findById" parameterType="long" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
		where id = #{id}
	</select>

	<select id="list" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
	</select>

	<select id="page" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
	</select>
	
	<select id="pageBySelect" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
		<where>
			<if test="name != null">and name = #{name}</if>
			<if test="age != null">and age = #{age}</if>
		</where>
		order by time desc
	</select>
</mapper>
